<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Manager</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<br>
<div class="container">
<a class="btn btn-danger btn-sm" href="home"> Home</a></div>
<div align="center">	
		
	<h1>Customer Manager</h1>
	
	
	<br/><br/>
	<form th:action="@{/cust}">
		Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
		&nbsp;
		<input type="submit" value="Search" />
		&nbsp;
		<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>
	<br/><br/>
	
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Name</th>
				<th>Type</th>
				<th>Category</th>
				<th>Price</th>			
								
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${listProducts}">
				<td th:text="${product.id}">Product ID</td>
				<td th:text="${product.name}">Name</td>
				<td th:text="${product.type}">Type</td>
				<td th:text="${product.brand}">Category</td>
				<td th:text="${product.price}">Price</td>
				
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/cust}]]";
	}
</script>
</body>
</html>